/* You can add global styles to this file, and also import other style files */

$sockets: (
  'integer': #2703a6,
  'decimal': #141259,
  'string': #f29f05,
  'boolean': #f2b705,
);

.socket {
  @each $name, $color in $sockets {
    &.#{$name} {
      background: $color !important;
    }
  }
}

@each $name, $color in $sockets {
  svg.connection.socket-input-#{$name},
  svg.connection.socket-output-#{$name} {
    path.main-path {
      stroke: $color;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
.connection {
  overflow: visible !important;
  position: absolute;
  z-index: -1!important;
  pointer-events: none;
  > * {
    pointer-events: all;
  }

  .main-path {
    fill: none;
    stroke-width: 5px;
    stroke: steelblue;
  }
}

/**
 * Theming of the area plugin
 */

$grid-color: #212121;
 $grid-size: 32px;
$grid-area: $grid-size * 10000;

.designer-background {
  display: table;
  z-index: -1;
  position: absolute;
  top: -$grid-area;
  left: -$grid-area;
  width: 2 * $grid-area;
  height: 2 * $grid-area;

  &.default {
    background-size: $grid-size $grid-size;
    background-image: linear-gradient(
        to right,
        $grid-color 1px,
        transparent 1px
      ),
      linear-gradient(to bottom, $grid-color 1px, transparent 1px);
  }
}

#pick {
  position: absolute;
  top: 0;
  left: 200px;
}

/**
Comments Plugin:
 */
.inline-comment,
.frame-comment {
  font-family: 'Roboto', sans-serif;
  color: #f3c148;
  font-weight: bold;
  font-size: 100%;
  position: absolute;
  cursor: move;
  border-radius: 3px;
  border-color: #f3c148;
  &:focus {
    outline: none;
    border-color: #f1df97;
  }
}
.inline-comment {
  padding: 9px;
  z-index: 4;
  background: #444444;
  border: 2px dashed #f3c148;
  &.connected {
    border: 2px solid #f3c148;
  }
}
.frame-comment {
  padding: 12px;
  z-index: -1;
  background: rgb(243, 193, 72, 0.3);
  border: 2px solid #f3c148;
}

.handle {
  width: 10px;
  height: 10px;
  background: #ff0000;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}
